$mainColor: #0085ba;
$line_heigh: 1.5em;
$my_font_famile:"Roboto", Sans-serif, "Times New Roman", Times, serif;
.navbar-nav {
	ul{
		margin-top: 5px;
	}
}
a {
	text-decoration: none;
}
a:visited {
	@extend a;
	color:  $mainColor;
}
a:hover, a:focus, a:active {
	@extend a;
	color: #e73c50;
}
p::first-letter {
    color:$mainColor;
}
body {
	text-align: justify;
}
.important{
	color:  $mainColor;
	font-weight: 600;
	line-height:$line_heigh;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,1);
}
.btn-outline-info {
	color:rgba(255,255,255,1);
	background-color: transparent;
	background-image: none;
	border-color: rgba(255,255,255,1);
}
table {
	width:100%;
}
table, th, td {
	border: 1px solid black;
	font-size: 15px;
	border-collapse: collapse;
}
img {
  width: 100%;
}
th {
	padding: 15px;
	text-align: center;
	background-color:#eee;
}
td {
	text-align: center;
}
#tr01 {
	background-color:#eee;
	font-weight:600;
	color:#0085ba;
}
ul {
    list-style-type:circle;
}
h1{
    color: $mainColor;
	line-height: $line_heigh;
	font-family: $my_font_famile;
	text-align: left;
	font-size: 45px;
	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		line-height: 1.2em;
	}
	@media (max-width: 768px) {
		font-size: 25px;
		font-weight: 600;
	}
}
.container {
	font-family: $my_font_famile;
	font-size: 20px;
	color: #7a7a7a;
	line-height: $line_heigh;
	margin-top:70px;
	@media (max-width: 768px) {
		font-size: 17px;
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 20px;
	}
}
#my_photo {
    float: left;
	margin-right: 50px;
	margin-bottom: 15px;
	width:25%;
	@media (max-width:768px) {
		width: 100%;
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		width: 50%;
	}
}